
body {
    
    background-color: black;
}

.planets {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
.sun{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: transparent;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}


.mercury{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white; 
}
.mercury img{
    width: 50px;
    height: 50px;
    animation: orbit-mercury 5s linear infinite;
}


@keyframes orbit-mercury {
    0% {
        transform: rotate(0deg) translate(70px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(70px) rotate(360deg);
    }
}


.venus{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid white; 
}


.venus img {
    width: 70px;
    height: 70px;
    animation: orbit-venus 9s linear infinite;
}

@keyframes orbit-venus {
    0% {
        transform: rotate(0) translateX(125px) rotate(0);
    }
    100% {
        transform: rotate(1turn) translateX(125px) rotate( 1turn);
    }
}

.earth{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid white;
}

.earth img{
    height: 80px;
    width: 80px;
    animation: orbit-earth 12s linear infinite;
}

@keyframes orbit-earth {
    0%{
        transform: rotate(0) translate(200px) rotate(0);
    }
    100%{
        transform: rotate(1turn) translate(200px) rotate(1turn);
    }
}

.mars{
    width: 600px;
    height: 600px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    border: 1px solid white
}

.mars img{
   width: 90px;
   height: 90px;
   animation: orbit-mars 16s linear infinite;
}

@keyframes orbit-mars {
    0%{
        transform: rotate(0) translate(300px) rotate(0);
    }
    100%{
        transform: rotate(1turn) translate(300px) rotate(1turn);
    }
}